// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@mixin clickable {
    cursor: pointer;
}

//#NOTE split css to relevant files and import

.table {
    &.shrunk{
        white-space: nowrap;
        width: 1%;
    }
    td, th {
        .shrunk{
            white-space: nowrap;
            width: 1%;
        }
    }
}
.user_icon{
    background: url('/img/user_icon.svg');
    display: block;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
}
.delete_btn, .edit_btn, .confirm_set_score_btn, .cancel_set_score_btn, .delete_team_btn, .delete_game_btn{
    @include clickable;
    display: block;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
}
.delete_btn, .delete_team_btn, .delete_game_btn {
    background: url('/img/delete_btn.svg');
    &:hover{
        background: url('/img/delete_btn_hover.svg');
    }
}
.delete_team_btn{
    width: 20px;
    height: 20px;
}
.edit_btn {
    background: url('/img/edit_btn.svg');
    &:hover{
        background: url('/img/edit_btn_hover.svg');
    }
}
.confirm_set_score_btn{
    background: url('/img/confirm_btn.svg');
    &:hover{
        background: url('/img/confirm_btn_hover.svg');
    }
}
.cancel_set_score_btn{
    background: url('/img/cancel_btn.svg');
    &:hover{
        background: url('/img/cancel_btn_hover.svg');
    }
}
.score_input {
    width: 2.3rem;
}
.underlined {
    text-decoration: underline;
}
/*
    Allow angular.js to be loaded in body, hiding cloaked elements until
    templates compile.  The !important is important given that there may be
    other selectors that are more specific or come later and might alter display.
*/
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.winner_cell{
    @extend .font-weight-bold;
}
.selected_team_cell {
    @extend .underlined;
}
.leader_row{
    @extend .font-weight-bold;
}
.disabled_button{
    @extend .disabled;
    cursor: default;
    pointer-events: none;
}
