// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.table {
    &.shrunk{
        white-space: nowrap;
        width: 1%;
    }
    td, th {
        .shrunk{
            white-space: nowrap;
            width: 1%;
        }
    }
}